<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="{{ shop.url }}">
        <img src="{{ settings.store_logo | img_url: 'x48' }}">
      </a>

      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="primary-navigation" class="navbar-menu">
      <div class="navbar-start">
        {% for link in linklists.main-menu.links %}
          {% assign child_list_handle = link.title | handleize %}
          {% if linklists[child_list_handle].links != blank %}
            <a href="{{ link.url }}" class="navbar-item {% if link.active %}active{% if link.child_active %}child-active{% endif %}{% endif %}">{{ link.title }}</a>
            [{% for childlink in linklists[child_list_handle].links %}
              <a href="{{ childlink.url }}">{{ childlink.title | escape }}</a>
            {% endfor %}]
          {% else %}
            <a href="{{ link.url }}" class="navbar-item {% if link.active %}active{% if link.child_active %}child-active{% endif %}{% endif %}">{{ link.title }}</a>
          {% endif %}
        {% endfor %}
      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a href="/cart" class="button is-primary"><span class="mdi mdi-cart"></span> Cart</a>
          {% if cart.item_count > 0 %}
              <div id="CartCount" class="button">
                <span id="itemCount">{{ cart.item_count }}</span> {{ cart.item_count | pluralize: 'item', 'items' }} | <span id="totalPrice">{{ cart.total_price | money }}</span>
              </div>
            {% endif %}
          {% if shop.customer_accounts_enabled %}
            {% if customer %}
              <a href="/account" class="button is-light">Account</a>
              {{ 'log out'  | customer_logout_link }}
            {% else %}
              {{ 'log in ' | customer_login_link }}
              {{ 'register' | customer_register_link }}
            {% endif %}
          {% endif %}
          </div>
        </div>
      </div>
    </div>
  </nav>

{% stylesheet 'scss' %}
{% endstylesheet %}
{% javascript %}
  $(document).ready(function() {
    // Check for click events on the navbar burger icon
    $(".navbar-burger").click(function() {
        // Toggle the "is-active" class on both the "navbar-burger" 
        // and the "navbar-menu"
        $(".navbar-burger").toggleClass("is-active");
        $(".navbar-menu").toggleClass("is-active");
    });
  });
{% endjavascript %}
