<!-- sections/swiper.liquid -->
{%- comment -%}

Swiper
Section using Swiper, the most modern mobile touch slider
https://swiperjs.com/

{%- endcomment -%}

<!-- Swiper -->
{% assign title = section.settings.swiper_title %}
{% assign tagline = section.settings.swiper_tagline %}

{% if title %}
  <h2 class="title">{{ title }}</h2>
{% endif %}

{% if tagline %}
  <h3 class="subtitle">{{ tagline }}</h3>
{% endif %}

<div id="swiper-{{ section.id }}" class="swiper-container" data-section="{{ section.id }}">
    <div class="swiper-wrapper">
        {% for block in section.blocks %}
          {% case block.type %}
            {% when 'image_picker' %}
              {% render 'swiper-slide', 
                attributes: block.shopify_attributes,
                title: block.settings.swiper_image_title, 
                image: block.settings.swiper_image %}
            {% endcase %}
        {% endfor %}
    </div>

    {% if section.settings.swiper_pagination %}
      <!-- Pagination -->
      <div class="swiper-pagination"></div>
    {% endif %}

    {% if section.settings.swiper_navigation %}
      <!--Navigation Buttons -->
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    {% endif %}

    {% if section.settings.swiper_scrollbar %}
      <!-- Scrollbar -->
      <div class="swiper-scrollbar"></div>
    {% endif %}
</div>

<style>
#swiper-{{ section.id }} {
    --swiper-theme-color: {{ section.settings.swiper_colour_theme }};
}
</style>

<script>
let swiperSettings_{{section.id}} = {
  slidesPerView: {{ section.settings.swiper_slidesPerView }},
  speed: {{ section.settings.swiper_speed }},
  spaceBetween: {{ section.settings.swiper_spaceBetween }},
  effect: '{{ section.settings.swiper_effect }}',
  hashNavigation: {{ section.settings.swiper_hash_navigation }},
  autoHeight: false,
    navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
    pagination: {
      el: ".swiper-pagination",
      clickable: true,
    },
};

let swiper_{{section.id}} = new Swiper("#swiper-{{section.id}}.swiper-container", swiperSettings_{{section.id}});

</script>

{% schema %}
  {
    "name": "Swiper",
    "class": "swiper-section",
    "tag": "section",
    "max_blocks": 5,
    "settings": [
        {
          "type": "text",
          "id": "swiper_title",
          "label": "Title",
          "default": "Swiper Title"
        },
        {
            "type": "richtext",
            "id": "swiper_tagline",
            "label": "Tagline",
            "default": "<p>Images for the summer.</p>"
        },
        {
          "type": "range",
          "id": "swiper_slidesPerView",
          "min": 1,
          "max": 5,
          "step": 1,
          "label": "Slides Per View",
          "default": 1
        },
        {
          "type": "range",
          "id": "swiper_speed",
          "min": 100,
          "max": 5000,
          "step": 100,
          "label": "Speed",
          "default": 400
        },
        {
          "type": "range",
          "id": "swiper_spaceBetween",
          "min": 0,
          "max": 100,
          "step": 10,
          "label": "Space Between Slides",
          "default": 20
        },
        {
          "type": "color",
          "id": "swiper_colour_theme",
          "label": "Colour Theme",
          "default": "#ffffff"
        },
        {
          "type": "checkbox",
          "id": "swiper_pagination",
          "label": "Enable Pagination",
          "default": false,
          "info": "Select to add pagination."
        },
        {
          "type": "checkbox",
          "id": "swiper_navigation",
          "label": "Enable Navigation Arrows",
          "default": false,
          "info": "Select to add left and right navigation arrows."
        },
        {
          "type": "checkbox",
          "id": "swiper_scrollbar",
          "label": "Enable Scrollbar",
          "default": false,
          "info": "Select to add a scrollbar."
        },
        {
          "type": "checkbox",
          "id": "swiper_hash_navigation",
          "label": "Support Hash Navigation",
          "default": false,
          "info": "Allows to load page with specific slide opened. ie. //store-url#slide4"
        },
        {
          "type": "select",
          "id": "swiper_effect",
          "options": [
              { "value": "slide", "label": "Slide"},
              { "value": "fade", "label": "Fade"},
              { "value": "cube", "label": "Cube"},
              { "value": "coverflow", "label": "Coverflow"},
              { "value": "flip", "label": "Flip"}
          ],
          "label": "Effects",
          "default": "slide",
          "info": "Select a slide transition effect."
        }
    ],
    "blocks": [
        {
          "type": "image_picker",
          "name": "Image",
          "settings": [
            {
              "type": "text",
              "id": "swiper_image_title",
              "label": "Title"
            },
            {
              "type": "image_picker",
              "id": "swiper_image",
              "label": "Slide"
            }
          ]
        }
    ],
    "presets": [
      {
        "name": "Swiper",
        "category": "Slideshows"
      }
    ],
    "locales": {
      "en": {
        "swiper_title": "Welcome"
      },
      "fr": {
        "swiper_title": "Bienvenue"
      }
    }
  }
{% endschema %}

{% stylesheet 'scss' %}
.swiper-container {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      height: calc((100% - 30px) / 2);

      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
    }
}
{% endstylesheet %}