<div class="card">
  <div class="card-image">
    <h3 class="title is-4">{{ title }}</h3>
    <figure class="image is-square">
      <img src="{{ image | img_url: '450x450', crop: 'top', format: 'pjpg' }}" alt="{{ alt | escape }}">
    </figure>
  </div>
  <div class="card-content">
    <div class="content has-text-centered">
      <p class="has-text-weight-bold is-size-3">{{ price | money }}</p>
    </div>
  </div>
  <footer class="card-footer">
    <button class="button is-primary card-footer-item m-1" onclick="AddToCart.add({{ id }});" data-details='{{ title }}'>Add To Cart</button>
    <a href="{{ url | within: collection }}" class="button is-link card-footer-item m-1">Details</a>
    
  </footer>
</div>